<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="apply.js"></script>
  </head>
  <body>
   <form method="POST" >
     <input type="text" name="lon">
     <input type="text" name="lat">
     <input type="submit" name="Submit" value="submit">
     </form>
  </body>
</html>
